@{
	ViewData["Title"] = "Confirmação de E-mail";
}

@{
	Layout = null;
}

<link rel="stylesheet" href="~/css/style/AccessDenied.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="accountContainer d-flex justify-content-center align-items-center">
	<div class="accountMessageContainer col-lg-8 col-11 d-flex flex-column justify-content-center align-items-center shadow">
		<span><h2><img src="~/css/images/bloqued.png" class="img-fluid" style="height: 80px; width: 60px" /></h2></span>
		<span><p>ACESSO NEGADO !</p></span>
		<span class="text-center"><p>Você não possui as credenciais necessárias pra acessar esse recurso.</p></span>
		<span class="text-center mt-2"><p>Você será redirecionado em 4 segundos....</p></span>
		<script>
			setTimeout(function () {
				window.location.href = '/Home/Menu';
			}, 7000); // Redireciona após 4 segundos
		</script>
	</div>
</div>
