@model ViewModelUsuarios;

@{
	ViewData["Title"] = "Cadastrar";
}

<link rel="stylesheet" href="~/css/style/CreateAccount.css" />

<div class="accountContainer col-lg-3 col-10 d-flex flex-column justify-content-center align-items-center shadow">
	<form class="formInputs col-12 d-flex flex-column justify-content-evenly align-items-center" 
	asp-controller="Account" asp-action="CreateAccount" method="post" role="form">
		<div data-aos="fade" class="jumbotron col-12 d-flex flex-column justify-content-center align-items-center">
			<span><img src="~/css/images/userIcon.png" class="img-fluid iconMenu" /></span>
			<h1>USUARIO</h1>
		</div>
		<div class="form-group col-12">
			<label asp-for="mdlUserCreate.userName" class="control-label"></label>
			<input asp-for="mdlUserCreate.userName" class="form-control" placeholder="Digite o nome de usuário" />
			<span asp-validation-for="mdlUserCreate.userName" class="text-danger"
				  data-aos-duration="500"></span>
		</div>
		<div class="form-group col-12">
			<label asp-for="mdlUserCreate.email" class="control-label"></label>
			<input asp-for="mdlUserCreate.email" class="form-control" placeholder="Digite seu e-mail" />
			<span asp-validation-for="mdlUserCreate.email" class="text-danger"
				  data-aos-duration="500"></span>
		</div>
		<div class="form-group col-12">
			<label asp-for="mdlUserCreate.password" class="control-label"></label>
			<input asp-for="mdlUserCreate.password" class="form-control" placeholder="Digite a senha" />
			<span asp-validation-for="mdlUserCreate.password" class="text-danger"
				  data-aos="fade" data-aos-duration="500"></span>
		</div>
		<div class="form-group col-12">
			<label asp-for="mdlUserCreate.confirmPassword" class="control-label"></label>
			<input asp-for="mdlUserCreate.confirmPassword" class="form-control" placeholder="Confirme a senha" />
			<span asp-validation-for="mdlUserCreate.confirmPassword" class="text-danger"
				  data-aos="fade" data-aos-duration="500"></span>
		</div>
		<div class="form-group col-12">
			<label asp-for="mdlUserCreate.permissao" class="control-label"></label>
			<select asp-for="mdlUserCreate.permissao" class="form-select">
				<option selected value="Admin">Administrador</option>
				<option value="Usuario">Usuario</option>
			</select>
			<span asp-validation-for="mdlUserCreate.password" class="text-danger"
				  data-aos="fade" data-aos-duration="500"></span>

			@if (ViewBag.Mensagem != null)
			{
				<h5 class="mt-2">@ViewBag.Mensagem</h5>
			}

		</div>
		
		@if (!ViewData.ModelState.IsValid)
		{
			<div class="alert alert-danger mt-4 mb-2">
				<div asp-validation-summary="ModelOnly" style="font-size: 20px"></div>
			</div>
		}

		<div class="botaoArea col-12 d-flex flex-row justify-content-evenly align-items-center mt-2 mb-3">
			<button type="submit" class="btn botaoCriar col-5 mt-3">
				Cadastrar
			</button>
			<a asp-controller="Account" asp-action="ListAccount" class="btn botaoVoltar col-5 mt-3">
				Voltar
			</a>
		</div>
	</form>
</div>