@model ViewModelUsuarios;

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Esqueceu sua senha </title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/style/forgotPassword.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AuthTeste.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
	<body>

		<div class="container-fluid d-flex flex-column justify-content-center align-items-center" data-aos="fade-left" data-aos-duration="800">
			<div class="ResetArea col-lg-4 col-8 d-flex flex-column justify-content-around align-items-center shadow">
				<div class="formArea col-11 d-flex flex-column justify-content-around align-items-center">
					<span>
						<h1>Recuperar Senha</h1>
					</span>
					<span>
						<img src="~/css/images/key_icon.png" class="img-fluid" />
					</span>
					<span class="col-lg-11 col-12">
						<h4>Um link de redefinição de senha será enviado para o usuário do e-mail abaixo cadastrado</h4>
					</span>
					<form class="col-lg-11 col-12 d-flex flex-column justify-content-center align-items-center"
					  asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
						<div class="form-group col-lg-12 col-10">
							<label asp-for="mdlForgotPassword.email" class="control-label"></label>
							<input asp-for="mdlForgotPassword.email" class="form-control" placeholder="Digite o nome de usuário" />
							<span asp-validation-for="mdlForgotPassword.email" class="text-danger"></span>
							@if (ViewBag.Sucesso != null)
							{
								<h5 class="mt-2">@ViewBag.Sucesso</h5>
							}
						</div>

							@if (!ViewData.ModelState.IsValid)
							{
							<div class="alert-danger col-lg-11 col-12 alert d-flex align-items-center justify-content-center mt-4 mb-2"
							 asp-validation-summary="ModelOnly" style="font-size: 14px"></div>
							}

						<div class="col-12 d-flex flex-row justify-content-center align-items-center mt-5 mb-3">
						<button class="btn col-4 botaoLogin" type="submit">Enviar</button>
							<a class="btn col-4 botaoVoltar" asp-controller="Auth" asp-action="Login">Voltar</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>

	</body>
</html>