@model Microsoft.AspNetCore.Identity.IdentityUser;


<div style="height: 100vh" class="d-flex justify-content-center align-items-center flex-column">


<h1>@Model.UserName</h1>
<h1>@Model.Email</h1>

</div>