@model IEnumerable<MdlUsuariosRoles>

@{
	ViewData["Title"] = "Usuários";
}

<link rel="stylesheet" href="~/css/style/ListAccount.css" />

<div class="contentTable col-10 d-flex flex-column justify-content-center p-5 shadow">
	<partial name="_jumbotron" />
	<div class="table-responsive">
		<table id="tabela-jquery" class="table table-hover">
			<thead>
				<tr>
					<th scope="col"><h3>Usuario</h3></th>
					<th scope="col" class="text-center"><h3>E-mail</h3></th>
					<th scope="col" class="text-center"><h3>Confirmada</h3></th>
					<th scope="col" class="text-center"><h3>Nível</h3></th>
					<th scope="col" class="text-center"><h3>Ação</h3></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
							<tr>
							<td><h4>@item.UserName</h4></td>
							<td><h4 class="text-center">@item.Email</h4></td>
						@if (item.EmailConfirmed == true)
						{
									<td><h4 class="text-center">Sim</h4></td>
						}
						else
						{
									<td><h4 class="text-center">Não</h4></td>
						}
							<td><h4 class="text-center">@item.Roles?.First()</h4></td>
							<td class="d-flex justify-content-center">
								<a asp-controller="Account" asp-action="GetAccountId" asp-route-id="@item.Id" class="btn botaoInformacao
                                col-lx-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 text-white">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="botaoInformacao" class="bi bi-info-circle" viewBox="0 0 16 16">
										<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
										<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
									</svg>
								</a>
							</td>
							</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="jumbotron d-flex flex-row justify-content-center">
		<a asp-controller="Account" asp-action="CreateAccount" class="btn btn-outline-primary mx-4">
			<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
			</svg>
			Novo
		</a>
		<a asp-controller="Home" asp-action="Menu" class="btn btn-outline-primary">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
			</svg>
			Voltar
		</a>
	</div>
</div>