@model MdlResetPassword;

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Reset </title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/style/resetPassword.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AuthTeste.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

	<div class="content" data-aos="fade-left" data-aos-duration="800">
		<div class="ResetArea shadow">
			<div class="formArea">
				<span><h1>Alterar Senha</h1></span>
				<span><img src="~/css/images/key_icon.png" class="img-fluid" /></span>
				<span class="col-11"><h4>Insira uma nova senha para seu usuário</h4></span>
				<form class="formInputs" asp-controller="Account" asp-action="ResetPassword" method="post" role="form">
					<div class="form-group col-12 mb-3">
						<label asp-for="email" class="control-label"></label>
						<input value="@TempData["Email"]" asp-for="email" class="form-control" placeholder="Digite o nome de usuário" />
						<span asp-validation-for="email" class="text-danger"
							  data-aos-duration="500"></span>
					</div>
					<div class="form-group col-12 mb-3">
						<label asp-for="password" class="control-label"></label>
						<input asp-for="password" class="form-control" placeholder="Digite a senha" />
						<span asp-validation-for="password" class="text-danger"
							  data-aos="fade" data-aos-duration="500"></span>
					</div>
					<div class="form-group col-12 mb-3">
						<label asp-for="confirmPassword" class="control-label"></label>
						<input asp-for="confirmPassword" class="form-control" placeholder="Digite a senha" />
						<span asp-validation-for="confirmPassword" class="text-danger"></span>
					</div>
					@if (!ViewData.ModelState.IsValid)
					{
						<div class="alert alert-danger mt-4 mb-2">
							<div asp-validation-summary="ModelOnly"></div>
						</div>
					}
					<div class="form-group col-sm-8 mt-2">
						<input hidden asp-for="token" value="@TempData["TokenGerado"]" class="form-control" placeholder="Digite o token" />
					</div>
					@if(ViewBag.Sucesso != null)
					{
					<h5 class="mt-2">@ViewBag.Sucesso</h5>
					}
					<div class="botaoArea mb-3">
						<button class="btn botaoLogin" type="submit">Redefinir</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>

</body>
</html>