@model MdlForgotPassword;

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Esqueceu sua senha </title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/style/forgotPassword.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AuthTeste.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

	<div class="content" data-aos="fade-left" data-aos-duration="800">
		<div class="ResetArea shadow">
			<div class="formArea">
				<span><h1>Recuperar Senha</h1></span>
				<span><img src="~/css/images/key_icon.png" class="img-fluid" /></span>
				<span class="col-10"><h4>Um link de redefinição de senha será enviado para o usuário do e-mail abaixo cadastrado</h4></span>
				<form class="formInputs" asp-controller="Auth" asp-action="ForgotPassword" method="post" role="form">
					<div class="form-group col-lg-12 col-md-10 col-sm-8">
						<label asp-for="email" class="control-label"></label>
						<input asp-for="email" class="form-control" placeholder="Digite o nome de usuário" />
						<span asp-validation-for="email" class="text-danger"></span>
						@if (ViewBag.Sucesso != null)
						{
							<h5 class="mt-2">@ViewBag.Sucesso</h5>
						}
					</div>
					<div asp-validation-summary="ModelOnly" class="col-12 text-danger mb-1"></div>
					<div class="botaoArea mt-5 mb-3">
						<button class="btn botaoLogin" type="submit">Enviar link</button>
						<a class="btn botaoVoltar" asp-controller="Auth" asp-action="Login">Voltar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>

</body>
</html>