@model MdlUser;

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Reset </title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/resetPassword.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AuthTeste.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

	<div class="content" data-aos="fade" data-aos-duration="800" data-aos-delay="1000">
		<div class="ResetArea shadow">
			<div class="formArea">
				<span><h1>Recuperar Senha</h1></span>
				<span><img src="~/css/images/key_icon.png" class="img-fluid" /></span>
				<span><h4>Um link de redefinição de senha será enviado para o usuário do e-mail abaixo cadastrado</h4></span>
				<form class="formInputs"  asp-controller="Auth" asp-action="ResetPassword" method="post" role="form">
					<div class="form-group col-12">
						<label asp-for="userName" class="control-label"></label>
						<input asp-for="userName" class="form-control" placeholder="Digite o nome de usuário" />
						<span asp-validation-for="userName" class="text-danger"></span>
					</div>
					<div class="botaoArea mt-3 mb-3">
						<button class="btn botaoLogin mt-3" type="submit">Enviar</button>
						<a class="btn botaoVoltar mt-3" asp-controller="Auth" asp-action="Login">Voltar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>

</body>
</html>