@model UsuarioSessao


<link rel="stylesheet" href="~/css/style/UsuarioSessao.css" />

<div class="d-flex justify-content-center align-items-center sessao">
	<span>Olá, @Model.usuario, seja bem vindo(a)</span>
</div>
