@model UsuarioSessao


<link rel="stylesheet" href="~/css/style/UsuarioSessao.css" />

<div class="d-flex justify-content-center align-items-center sessao">
	<span>Seja bem vindo: @Model.usuario</span>
</div>
