@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div data-aos="fade" class="jumbotron d-flex flex-column justify-content-center align-items-center col-12">
	<span><img src="@ViewBag.CaminhoImg" class="img-fluid iconMenu" /></span>
	<h1>@ViewBag.TitleJumbotron</h1>
</div>
