<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style/_layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="~/lib/jquery-datatables/datatables.css" />
</head>
    <body>

        <partial name="_Header" />

        <!--Main-->
        <main data-aos="fade" data-aos-delay="500" class="container-fluid col-12 d-flex flex-column justify-content-center align-items-center">
                @RenderBody()
        </main>

        <partial name="_Footer" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="~/lib/jquery-datatables/datatables.min.js"></script>
        <script>
            AOS.init();
        </script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
