@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core" target="_blank">Conheça mais sobre a construção de aplicativos Web com ASP.NET Core</a></p>
</div>

