@{
    ViewData["Title"] = "Home";
}

<div class="conteudo shadow">
    <div data-aos="fade" class="jumbotron">
        <h1>HOME</h1>
    </div>
    <div class="MenuList">
          <div class="section1">
              <div class="subSection1">
                 
              </div>
              <div class="subSection1">

              </div>
              <div class="subSection1">

              </div>
          </div>
          <div class="section2">
            <div class="subSection1">

            </div>
            <div class="subSection1">

            </div>
            <div class="subSection1">

            </div>
          </div>
    </div>
</div>

