@{
    ViewData["Title"] = "Menu";
}

<link rel="stylesheet" href="~/css/style/menu.css" />

<div class="conteudo col-10 d-flex flex-column justify-content-center align-items-center shadow">
    <div class="MenuList  d-flex flex-column align-items-center">
        <div data-aos="fade" class="jumbotron d-flex flex-column justify-content-center align-items-center col-12">
            <span><img src="~/css/images/home.png" class="img-fluid iconMenu" /></span>
            <h1>HOME</h1>
        </div>
        <div class="section col-12 d-flex flex-lg-row justify-content-center align-items-center flex-wrap">
            <div class="subSection1 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <span><img src="~/css/images/userIcon.png" class="img-fluid iconMenu" /></span>
                <span><h5>PROFESSORES</h5></span>
                <span><p>Gerencie os professores que farão uso do sistema</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
            <div class="subSection1 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <span><img src="~/css/images/child.png" class="img-fluid iconMenu" /></span>
                <span><h5>ALUNOS</h5></span>
                <span><p>Cadastre novos alunos para servir de base no sistema</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
              </div>
            <div class="subSection1 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <span><img src="~/css/images/escolas.png" class="img-fluid iconMenu" /></span>
                <span><h5>ESCOLAS</h5></span>
                <span><p>Cadastre as escolas em que você trabalha atualmente</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
            <div class="subSection1 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <span><img src="~/css/images/turmas.png" class="img-fluid iconMenu" /></span>
                <span><h5>TURMAS</h5></span>
                <span><p>Cadastre as turmas que você aplica suas aulas no dia a dia</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
            <div class="subSection1 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <span><img src="~/css/images/horario.png" class="img-fluid iconMenu" /></span>
                <span><h5>HORARIOS</h5></span>
                <span><p>Cadastre os horarios de cada aula durante o dia de trabalho</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
            <div class="subSection1 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <span><img src="~/css/images/chamada.png" class="img-fluid iconMenu" /></span>
                <span><h5>CHAMADA</h5></span>
                <span><p>Realize as chamadas e registre as presenças dos alunos</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
            <div class="subSection1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span><img src="~/css/images/engrenagem.png" class="img-fluid iconMenu" /></span>
                <span><h5>USUÁRIOS</h5></span>
                <span><p>Cadastre novos, ou remova um usuário existente no sistema</p></span>
                <span><a asp-controller="Account" asp-action="ListAccount" class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
            <div class="subSection1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span><img src="~/css/images/phone.png" class="img-fluid iconMenu" /></span>
                <span><h5>PAIS E CONTATOS</h5></span>
                <span><p>Cadastre os dados dos pais dos alunos e os contatos</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
        </div>
    </div>
</div>

