@{
    ViewData["Title"] = "Menu";
}

<div class="conteudo shadow">
    <div data-aos="fade" class="jumbotron">
        <h1>HOME</h1>
    </div>
    <div class="MenuList">
          <div class="section1">
              <div class="subSection1">
                <span><img src="~/css/images/userIcon.png" class="img-fluid iconMenu" /></span>
                <span><h5>CADASTRAR USUÁRIO</h5></span>
                <span><p>Cadastre novos usuários para uso no sistema</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
              </div>
              <div class="subSection1">
                <span><img src="~/css/images/userIcon.png" class="img-fluid iconMenu" /></span>
                <span><h5>CADASTRAR USUÁRIO</h5></span>
                <span><p>Cadastre novos usuários para uso no sistema</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
              </div>
              <div class="subSection1">
                <span><img src="~/css/images/userIcon.png" class="img-fluid iconMenu" /></span>
                <span><h5>CADASTRAR USUÁRIO</h5></span>
                <span><p>Cadastre novos usuários para uso no sistema</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
              </div>
          </div>
          <div class="section2">
            <div class="subSection1">
                <span><img src="~/css/images/userIcon.png" class="img-fluid iconMenu" /></span>
                <span><h5>CADASTRAR USUÁRIO</h5></span>
                <span><p>Cadastre novos usuários para uso no sistema</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
            <div class="subSection1">
                <span><img src="~/css/images/userIcon.png" class="img-fluid iconMenu" /></span>
                <span><h5>CADASTRAR USUÁRIO</h5></span>
                <span><p>Cadastre novos usuários para uso no sistema</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
            <div class="subSection1">
                <span><img src="~/css/images/userIcon.png" class="img-fluid iconMenu" /></span>
                <span><h5>CADASTRAR USUÁRIO</h5></span>
                <span><p>Cadastre novos usuários para uso no sistema</p></span>
                <span><a class="btn btn-outline-primary nav-link">Cadastrar</a></span>
            </div>
          </div>
    </div>
</div>

