html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px;
   width: 100%;
   height: 100%;
}

.ResetArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95%;
    width: 35%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #51023B;
}

.formArea {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

span > h1, h4, h5 {
    color: #51023B;
    text-align: center;
}

span > img{
    height: 70px;
    width: 70px;
}

label {
   color: #51023B;
}

.botaoArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botaoLogin {
    background-color: #51023B;
    color: white;
    width: 40%;
    border-radius: 10px
   
}

.botaoVoltar {
    background-color: green;
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-left: 10px
}


.botaoLogin:hover {
    color: white;
}

.formInputs {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-danger ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: start
}

.alert-danger ul, label, .text-danger {
    list-style-type: none;
    font-weight: bold;
}


.alert-danger {
    border-radius: 10px;
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 960px) {
    .ResetArea{
        flex-direction: column;
        width: 95%;
        height: auto;
    }
    .formArea, .formInputs{
        height: 70%;
        width: 95%
    }
}