html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.container-fluid {
    padding: 30px;
    height: 100%;
}

.ResetArea {
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #51023B;
}

.formArea {
    height: 100%;
}

span > h1, h4, h5 {
    color: #51023B;
    text-align: center;
}

span > img{
    height: 70px;
    width: 70px;
}

label {
   color: #51023B;
}

.botaoLogin {
    background-color: #51023B;
    color: white;
    border-radius: 10px
}

.botaoVoltar {
    background-color: green;
    color: white;
    border-radius: 10px;
    margin-left: 10px
}


.botaoLogin:hover {
    color: white;
}


.text-danger ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: start
}

.alert-danger ul, label, .text-danger {
    list-style-type: none;
    font-weight: bold;
}


.alert-danger {
    border-radius: 10px;
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
