.container-fluid {
    height: 100%;
}

.contentDetails {
    height: 100%;
}

.card {
    border: 1px solid #7A0359;
}

.iconMenuCard {
    height: 50px;
    width: 50px;
}

.card-footer, .card-header {
    background-color: #51023B;
    color: white;
}

.modal-content {
    background-color: #51023B;
    color: white;
}


.modal-header, .modal-footer, .modal-body {
    border: 3px solid #7A0359;
}

    .modal-header > h1 {
        font-size: 24px;
        font-weight: 800;
    }

.modal-body {
    background-color: white;
    color: #51023B;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    h4 {
        font-size: 14px;
        font-weight: 800;
    }
}
