.contentTable {
    min-height: 100%;
    margin-top: 140px;
    margin-bottom: 70px;
    border: 1px solid #51023B;
}

.botaoInformacao {
    border: 1px solid #51023B
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #51023B;
    border: 5px solid #7A0359;
    color: white;
    height: 120px;
    margin: 5px
}

h3 {
    font-weight: bold;
    color: #51023B
}

h4 {
    font-weight: 400;
    color: #51023B
}

.botaoCor {
    background-color: darkblue;
    color: white
}

.table-hover tbody tr:hover .botaoInformacao {
    border: 1px solid white;
    background-color: white;
}

.table-hover {
    cursor: pointer;
}

    .table-hover tbody tr:hover {
        background-color: #7A0359;
        transition-duration: 0.4s;
    }

tr:hover h4 {
    color: white;
}