html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.content {
   padding: 30px;
   height: 100%;
}

.loginArea {
    height: 75%;
    border-radius: 10px;
    border: 1px solid #51023B;
}

.formArea {
    height: 100%;
}

.formInputs {
    height: 80%;
}

.botaoArea {
    width: 100%
}

botaoArea > span {
    display: flex;
    justify-content: center;
    width: 100%;
}

.botaoLogin {
    background-color: #51023B;
    color: white;
    width: 35%;
    border-radius: 10px;
}

.botaoLogin:hover{
    color: white;
}

span > a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600
}

span > h1, a, label {
    color: #51023B;
}

.LoginImg{
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.LoginImg > img {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.alert-danger ul, label, .text-danger {
    list-style-type: none;
    padding: 10px;
    font-weight: bold;
}

.alert-danger {
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .loginArea {
        height: auto;
    }

    .formArea, .formInputs {
        height: 70%;
    }

    .LoginImg {
        display: none;
    }

    .botaoLogin {
        width: 50%;
    }
}